extends ../layout

block content

  .container
    .row
      .col-md-8.col-md-offset-2
        h2.title-focus Tareas realizadas
        br
        br
        ul.list-unstyled.list-tasks
          each task in tasks
            li.list-group-item
              p.title-name #{task.title}
              p.creation-date (Terminado en #{moment(task.modifiedAt).format('LLL')})