nav.navbar.navbar-inverse
  .container
    .navbar-header
      a.navbar-brand(href='/tasks') PENDING 
      a.navbar-brand(href='/done') TASK DONE
    p.navbar-text.navbar-right
      | Designed by 
      a.navbar-link(href='https://twitter.com/SergioCodeWorld') Sergio MT
