nav.navbar.navbar-inverse
  .container
    .navbar-header
      a.navbar-brand(href='/tasks') PENDIENTES 
      a.navbar-brand(href='/tasks/done') TERMINADAS
    p.navbar-text.navbar-right
      | Diseñado por 
      a.navbar-link(href='https://twitter.com/SergioCodeWorld', target='_blank') Sergio MT
